.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: white;
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modalContent img {
  max-width: 100%;
  height: auto;
}

.modalContent {
  position: relative;
}

.closeButton {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  padding-top: 25px;
  padding-right: 25px;
  font-size: large;
}


.closeButton:hover {
  color: #555;
}
