.container {
  position: relative;
  margin-left: auto;
}
.logo {
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 50px;
}

.logo_name {
  font-size: xx-large;
  margin-right: auto;
  font-weight: 900;
}
img:hover {
  cursor: pointer;
}
.dropdownContent {
  position: relative;
  top: 100%; /* 드롭다운 컨텐츠가 아이콘 아래에 위치하도록 설정합니다 */
  left: 0;
  background-color: #f9f9f9;
  padding-right: 1px;
  border: 1px solid #ccc;
  width: 150px;
  opacity: 0; /* 처음에는 투명하게 설정합니다 */
  visibility: hidden; /* 처음에는 숨겨진 상태로 설정합니다 */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* 트랜지션 효과를 추가합니다 */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

.container:hover .dropdownContent {
  opacity: 1; /* 호버 상태에서는 드롭다운 컨텐츠를 보이도록 투명도를 조절합니다 */
  visibility: visible; /* 호버 상태에서는 드롭다운 컨텐츠를 보이도록 설정합니다 */
}
.menu {
  text-decoration: none;
  color: #000000;
}
#nav_body {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(212, 212, 212);
  display: grid;
  place-items: left;
}
#title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black
}
