/* .App {
  text-align: center;
} */

/* Nav */

/* #nav-body {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(212, 212, 212);
  display: grid;
  place-items: left;
}
#title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
} */
/* #logo {
  width: 50px;
  height: 40px;
  margin-right: 1rem;
} */
/* #logo_name {
  font-size: xx-large;
  font-weight: bold;
} */
/* img:hover {
  cursor: pointer;
} */
#Dropdown {
  padding-left: 60px;
}

/* Footer */

/* #footer-body {
  width: 100%;
  height: 50px; 
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer-text {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px rgb(212, 212, 212);
} */

/* body */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
} */
.custom-toast {
  background: transparent;
  box-shadow: none;
}

.custom-toast-body {
  padding: 0;
  width: 20px;
  height: 20px;
  background: none;
}

.custom-toast-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
}

.custom-toast-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
